{{ define "myCustomUuid" }}
{{- "a9201516-b322-49b2-a284-5186fa43a306" | upper }}
{{ end }}

{{- define "settings.default" -}}
a_setting: a
another_setting: 2
third_setting:
{{ include "settings.default" . | nindent 4 }}
{{ end }}
